*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FEF9E1;
}

h1 {
  margin-bottom: 40px;
  font-family: "Schoolbell", serif;
  font-weight: 400;
  font-style: normal;
  color: #41444B;
}

.btn {
  margin-bottom: 20px;
  padding: 8px 14px;
  cursor: pointer;
  border: 2px solid #B5828C;
  box-shadow: 2px 2px 0 0 white,
  4px 4px 0 #B5828C;
  transition-duration: 200ms;
  font-family: "Delicious Handrawn", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}


.btn:hover{
  box-shadow: 3px 3px white,
  4px 4px 0 0 #B5828C;
  transform: translate(-2px,-2px);
}


.container {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  height: 250px;
  justify-content: space-around;
}

.grid {
  background-color: white;
  border: 1px solid #B5828C;
  width: 15.63px;
  height: 15.63px;
}

container>div:nth-child((16n + 1)) {
  width: 100% ;
}


.nthGrid {
  background-color: white;
  border: 1px solid #B5828C;
}

.nthChangeColor,
.changeColor {
  background-color: #FFCDB2; 
  cursor: pointer;
  transition: 0.5s;
}